{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load static %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
   <h2>Новости и статьи</h2>
   <h3>{{ time_now|date:'M d Y' }}</h3>
   <!-- <h4> {{ open_vacancies|default_if_none:"Новые вакансии пока не появились!" }} </h4> -->
   <hr>
    {% if is_not_subscriber %}
    <p class = 'text-center'><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a> </p>
    {% endif %}

<style>
    table.text  {
    width:  100%; /* Ширина таблицы */
    border-spacing: 0; /* Расстояние между ячейками */
    }
    table.text td {
    width: 90%; /* Ширина ячеек */
    vertical-align: top; /* Выравнивание по верхнему краю */
    }
    td.rightcol { /* Правая ячейка */
    text-align: right; /* Выравнивание по правому краю */
    }
 </style>

   {% for post in category_posts_list %}

<table class = "text">
        <tr>
        <td> <p style="text-align: left;"> <a href = "{% url 'post_detail' pk=post.id %}"> {{ post.title|censor }} </a> ({{ post.author }}) </p> </td>
        <td class="rightcol"><p style="text-align: justify; font-size: 12px"> Рейтинг: {{ post.rating }} </p> </td>
        </tr>
    </table>

        <p style="text-align: justify;"> {{ post.dateCreation|date:'d.M.Y' }} </p>
        <p style="text-align: justify;"> {{ post.text|truncatewords:20|censor }} </p>
        <p style="text-align: justify; font-size: 12px">
        {% for cat in post.postCategory.all %}
            <a href="{% url 'category_list' cat.id %}"> {{ cat.name }} </a>
        {% endfor %}

   {% endfor %}



   <!-- Пагинация -->

   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}
   {{ page_obj.number }}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}