<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

<!-- Название у нас будет Product -->
{% block title %}
Product
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<h2>{{ post.title }}</h2>
<h4>{{ post.dateCreation|date:'d.M.Y' }}</h4>
<p style="text-align: justify;"> {{ post.text|censor }} </p>

{% if perms.NewsApp.change_post %}
    <a href ="{% url 'post_update' pk=post.id %}" class ="btn btn-outline-primary btn-sm">Изменить пост</a>
{% endif %}
{% if perms.NewsApp.delete_post %}
    <a href="{% url 'post_delete' pk=post.id %}" class = "btn btn-outline-danger btn-sm">Удалить пост</a>
{% endif %}


{% endblock content %}


