{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Posts
{% endblock title %}

{% block content %}

<h3> Поиск по сайту</h3>
    <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>

   <h4> {{ open_vacancies|default_if_none:"Новые вакансии пока не появились!" }} </h4>
   <hr>
   {% if search_list %}
       <table>
           <tr>
               <td><b>Заголовок</b></td>
               <td><b>Дата публикации</b></td>
               <td><b>Автор поста</b></td>
               <td><b>Текст поста</b></td>
               <td><b>Рейтинг поста</b></td>
               {% if perms.NewsApp.change_post %}
               <td><b>Действия</b></td>
               {% endif %}
           </tr>
           {% for post in search_list %}
           <tr>
               <td> <a href="{% url 'post_detail' pk=post.id %}"> {{ post.title|censor }} </a></td>
               <td> {{ post.dateCreation|date:'d.M.Y' }} </td>
               <td> {{ post.author }} </td>
               <td> {{ post.text|truncatewords:20|censor }} </td>
               <td> {{ post.rating }} </td>
               <td>
                   {% if perms.NewsApp.change_post %}
                   <a href="{% url 'post_update' pk=post.id %}">Изменить</a>
                   {% endif %}
                   {% if perms.NewsApp.delete_post %}
                   <a href="{% url 'post_delete' post.id %}">Удалить</a>
                   {% endif %}

               </td>
           </tr>
           {% endfor %}
       </table>
   {% else %}
       <h2>Будьте первым, кто опубликует пост :)</h2>
   {% endif %}

   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}
   {{ page_obj.number }}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}


{% endblock content %}